nav#Menu ul{
    list-style: none;
    font-family: fantasy;
    text-transform: uppercase;
    text-decoration: underline;
    
}
nav#Menu li{
    display: inline-block;
    background-color: RED;
    padding: 10PX;
    margin: 5PX;
    transition: 1S;
}

h6{
    color: blue;
    text-decoration: underline;

}

div#LOGOH img{
    left: 80;
    top: -50;
    border-image: round;
    image-resolution: 80;
}

img#LOGOHOME {
    left: 50;
}

p#MATHEUS {
    color: rgb(84, 84, 87);
}


h3{
    top: 30%;
          left: 30%;
          padding: 2px 2px 2px 2px;
  }
  
  p {
    font-family: sans-serif;
    border: 1px solid black; 
  }
  
  @-webkit-keyframes bg-scrolling-reverse {
    100% { background-position: $bg-width $bg-height; }
  }
  @-moz-keyframes    bg-scrolling-reverse {
    100% { background-position: $bg-width $bg-height; }
  }
  @-o-keyframes      bg-scrolling-reverse {
    100% { background-position: $bg-width $bg-height; }
  }
  @keyframes         bg-scrolling-reverse {
    100% { background-position: $bg-width $bg-height; }
  }
  
  @-webkit-keyframes bg-scrolling {
    0% { background-position: $bg-width $bg-height; }
  }
  @-moz-keyframes    bg-scrolling {
    0% { background-position: $bg-width $bg-height; }
  }
  @-o-keyframes      bg-scrolling {
    0% { background-position: $bg-width $bg-height; }
  }
  @keyframes         bg-scrolling {
    0% { background-position: $bg-width $bg-height; }
  }
  
  
  body {  
    color: #999;
    font: 400 16px/1.5 exo, ubuntu, "segoe ui", helvetica, arial, sans-serif;
    text-align: center;
    background-color: #ffffff;
  
  
  }

  div#mandelao{
    background-color: black;
  }
  form#TopCatalogo{
      background-color: black;
      top: -40;

  }

  header#1{
      top: 0;
      background-color: black;
  }
