nav#Menu ul{
    list-style: none;
    font-family: fantasy;
    text-transform: uppercase;
    text-decoration: underline;
    
}
nav#Menu li{
    display: inline-block;
    background-color: RED;
    padding: 10PX;
    margin: 5PX;
    transition: 1S;
}

h6{
    color: blue;
    text-decoration: underline;

}

div#LOGOH img{
    left: 80;
    top: 0;
    border-image: round;
    image-resolution: 80;
}

img#LOGOHOJE {
    left: 50;
}